{% extends "base.html" %}

{% block title %}
Applications
{% endblock %}

{% block content %}

{% if job %}
    <!-- EMPLOYER VIEW -->
    <h2>Applicants for: {{ job.title }}</h2>

    {% if applications %}
        <div class="card mb-3">
            <div class="card-body">
                <ul>
                {% for application in applications %}
                    <li>
                        {{ application.user.username }}

                        <p class="text-muted">
                            Applied on {{ application.applied_at.strftime('%Y-%m-%d') }}
                        </p>

                        <a href="{{ url_for('view_cv', app_id=application.id) }}" class="btn btn-sm btn-primary">
                            View CV
                        </a>
                    </li>
                {% endfor %}
                </ul>
            </div>
        </div>
    {% else %}
        <p>No applicants yet.</p>
    {% endif %}

{% else %}
    <!-- JOB SEEKER VIEW -->
    <h2>My Applications</h2>
    <div class="card mb-3">
        <div class="card-body">

        {% if applications %}
            <ul>
            {% for application in applications %}
                <li>
                    {{ application.job.title }} - {{ application.job.company }}
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
    {% else %}
        <p>No applications yet.</p>
    {% endif %}

{% endif %}

{% endblock %}