<!-- job_listings.html -->
{% extends "base.html" %}

{% block title %}
Job Listings
{% endblock %}

{% block content %}


<h2>Available Jobs</h2>

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    {% for category, message in messages %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}
{% endwith %}

<form action="/jobs" method="get">
    <input type="text" name="location" placeholder="Filter by location">
    <input type="text" name="category" placeholder="Filter by category">
    <button type="submit">Search</button>
</form>

<ul>
{% for job in jobs %}
<li>

  {% if job.created_at %}
            <p class="text-muted">
                Posted on {{ job.created_at.strftime('%d %b %Y') }}
            </p>
    {% endif %}
<strong>
<a href="{{ url_for('job_detail', job_id=job.id) }}" style="text-decoration:none;">
{{ job.title }}
</a>
</strong> - {{ job.company }}<br>

Location: {{ job.location }} | Salary: {{ job.salary }}<br>

{{ job.description }}<br>

<a href="{{ url_for('job_detail', job_id=job.id) }}">
    View Details
</a>

{% if current_user.role == "job_seeker" %}
    <form action="{{ url_for('apply', job_id=job.id) }}" method="POST">
        <button type="submit">Apply</button>
    </form>
{% endif %}

</li>
{% endfor %}
</ul>

<div class="mt-4">

<a href="?page={{ request.args.get('page',1)|int - 1 }}" class="btn btn-secondary">
Previous
</a>

<a href="?page={{ request.args.get('page',1)|int + 1 }}" class="btn btn-secondary">
Next
</a>

</div>
{% endblock %}