{% extends "base.html" %}

{% block title %}
Sign Up
{% endblock %}

{% block content %}

<div id="login_sin_row" class="row">

    <div id="form_pic" class="col-lg-6 col-md-12">

        <h1 style="font-weight:900;color:rgb(141,164,184);font-size:50px;">
            JOIN OUR COMMUNITY
        </h1>

        <h4>
            JOBHUBSA has thousands of job seekers looking for entry-level jobs –
            from waiters, cashiers, cleaners, drivers, and more,
            on a permanent basis or for events.
        </h4>

    </div>


    <div id="sign_up" class="col-lg-6 col-md-12">

        <div class="container">

            <div id="content1" class="content">

                <div class="employer_links">

                    <h4 class="seeker">
                        <a href="{{ url_for('signup') }}">Job Seekers</a>
                    </h4>

                    <h4 class="employer">
                        <a href="{{ url_for('employer') }}">Employers</a>
                    </h4>

                </div>


                <div class="form-container">

                    <form method="post" action="{{ url_for('signup') }}">

                        <div class="input-cnt">
                            <i class="fas fa-user"></i>
                            <input type="text" name="first_name" placeholder="First Name" required>
                        </div>

                        <div class="input-cnt">
                            <i class="fas fa-user"></i>
                            <input type="text" name="last_name" placeholder="Last Name" required>
                        </div>

                        <div class="input-cnt">
                            <i class="fas fa-user"></i>
                            <input type="text" name="username" placeholder="Username" required>
                        </div>

                         <div class="input-cnt">
                            <i class="fas fa-user"></i>
                            <select name="role" placeholder="User_role" required>
                                <option value="job_seeker">Job Seeker</option>
                                <option value="employer">Employer</option>
                                <option value="mentor">Mentor</option>
                            </select>
                        </div>

                        <div class="input-cnt">
                            <i class="fas fa-envelope"></i>
                            <input type="email" name="email" placeholder="Email" required>
                        </div>

                        <div class="input-cnt">
                            <i class="fas fa-key"></i>
                            <input type="password" name="password" placeholder="Password" required>
                        </div>

                        <div class="input-cnt">
                            <i class="fas fa-key"></i>
                            <input type="password" name="confirm_password" placeholder="Confirm Password" required>
                        </div>

                        <div class="input-cnt">
                            <i class="fas fa-phone"></i>
                            <input type="text" name="cellphone" placeholder="0783365852">
                        </div>

                        <div class="input-cnt">
                            <input type="submit" value="Sign Up">
                        </div>

                    </form>

                </div>

            </div>


            <div class="login_text">

                <div style="font-size:small;">
                    Already have an account?
                </div>

                <a style="font-size:large;padding:10px;" href="{{ url_for('login') }}">
                    Log in
                </a>

            </div>

        </div>

    </div>

</div>

{% endblock %}